*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* 사용자 정의 속성 (css 변수)*/
:root {
  --primary-color: rgb(253,239,295);
}

a{
  text-decoration: none;
  color: black;
}